

/* =================== Font =================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* ================ Main Stuff ================ */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}

/* ================== Header ================== */

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 240, 240);
    margin: 0px;
    padding: 0px;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.list-item a {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.list-item a:hover {
    color: white;
    background-color: black;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background: #f0f0f0;
    color: black;
    padding: 50px;
}

.footer a {
    color: black;
    text-decoration: none;
}

/* ================== Content ================== */

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.danny-boy {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.content {
    background-color: rgb(61, 150, 202);
    padding: 1rem;
    width: 1100px;

}